<div *ngIf="existeUsuario">
<h6 ALIGN="LEFT">Grafica Magnitudes</h6>
<app-grafica [datosIn]="datos"></app-grafica>
<div class="config-container" ALIGN="LEFT">
    <div class="wrapper">
    <div class="split left">
    <h6 ALIGN="LEFT">Seleccion de magnitudes</h6>
    <div>Mostrar magnitudes por
        <form>
            <input type="radio" name="selPerfilTodo" value="perfil" (change)="onItemMagChange('perfil')" checked="checked"/>perfil {{perfil.nombre}}
            <input type="radio" name="selPerfilTodo" value="todo" (change)="onItemMagChange('todo')"/>todas
        </form>
    </div>
    <form [formGroup]="magnitudForm">
        <a>Magnitud </a>
        <select (change)="seleccionMagnitud($event)" (onload)="seleccionMagnitud($event)">
            <option value="Nuevo">Nuevo</option>
            <option *ngFor="let magnitud of magnitudes" selected>
                {{magnitud.nombre}}
            </option>
        </select>
        <input *ngIf="(selMag)" type="text" formControlName="magnitud" placeholder="Nombre" required class="inForm" value="miValue">
        <button *ngIf="(selMag)" type="submit" (click)="agregarMagnitud()">
            Agregar
        </button>
        <button *ngIf="!(selMag)" id="Salvar" (click)="salvarMagnitud()" >Salvar</button>
        <button *ngIf="!(selMag)" id="Borrar" (click)="borrarMagnitud()" >Borrar</button>
    </form>
    <button *ngIf="!(selMag)" (click)="asociarMagnitud()" >Añadir la magnitud al perfil {{perfil.nombre}}</button>
    <br>
    <h6 ALIGN="LEFT">Seleccion de cultivo</h6>
    <form [formGroup]="cultivoForm">
            <a>Cultivo </a>
            <select (change)="seleccionCultivo($event)">
                <option>Nuevo</option>
                <option *ngFor="let cultivo of cultivos" selected>
                    {{cultivo.nombre}}
                </option>
            </select>
            <input *ngIf="(selCultivo)"  type="text" formControlName="cultivo" required class="inForm">
            <button *ngIf="(selCultivo)" type="submit" [disabled]="!cultivoForm.valid"(click)="agregarCultivo()">
                Agregar
            </button>
            <button *ngIf="!(selCultivo)" (click)="salvarCultivo()" >Salvar</button>
            <button *ngIf="!(selCultivo)" (click)="borrarCultivo()" >Borrar</button>
    </form>
    <br>

    <h6 ALIGN="LEFT">Seleccion de perfiles</h6>
    <div>Mostrar perfiles por
        <form>
            <input type="radio" name="selPerfilTodo" value="cultivo" (change)="onItemPerfChange('cultivo')" checked="checked"/>cultivo {{cultivo.nombre}}
            <input type="radio" name="selPerfilTodo" value="todo" (change)="onItemPerfChange('todo')"/>todas
        </form>
    </div>
    <div>
        <form [formGroup]="perfilForm">
            <a>Perfil </a>
            <select (change)="seleccionPerfil($event)">
                <option>Nuevo</option>
                <option *ngFor="let perfil of perfiles" selected>
                    {{perfil.nombre}}
                </option>
            </select>
            <input *ngIf="(selPerfil)"  type="text" formControlName="perfil" required class="inForm">
            <button *ngIf="(selPerfil)" type="submit" [disabled]="!perfilForm.valid"(click)="agregarPerfil()">
                Agregar
            </button>
            <button *ngIf="!(selPerfil)" (click)="salvarPerfil()" >Salvar</button>
            <button *ngIf="!(selPerfil)"  (click)="borrarPerfil()" >Borrar</button>
        </form>
    </div>
    <button *ngIf="!(selPerfil)" (click)="asociarPerfil()" >Aceptar rango de dias para perfil: {{perfil.nombre}}</button>
    </div>

    <div class="split right">
        <igx-calendar #calendar selection="range" (onSelection)="verifyRange($event)"></igx-calendar>
    </div>
    </div>

    <br>
</div>

<div name="Botones_magnitudes" ALIGN="LEFT">
        <a><button *ngFor="let magnitud of perfil.magnitudes" (click)="desasociarMagnitud(magnitud)"> {{magnitud.nombre}} X</button></a>
</div>

</div>
<div *ngIf="!existeUsuario" ALIGN="center">
    Para configurar primero debe loguearse.
    <div>
        <button type="submit" (click)="irARegistro()">
            Ir a registro
        </button>
    </div>
</div>

