<div *ngIf="existeUsuario">Existe: {{usuario.userName}}</div>
<app-grafica [datosIn]="datos"></app-grafica>
<div class="config-container">
    <form [formGroup]="magnitudForm">
        <a>Magnitud </a>
        <select name="seleccion" id="seleccion" (change)="seleccionMagnitud($event)">
            <option *ngFor="let magnitud of magnitudes" selected>
                {{magnitud.nombre}} 
            </option>
        </select>
        <input *ngIf="(magnitud).nombre=='Nuevo'" type="text" formControlName="magnitud" placeholder="Nombre" required class="inForm" value="miValue">
        <button *ngIf="(magnitud).nombre=='Nuevo'" type="submit" (click)="agregarMagnitud()">
            Agregar
        </button>
        <button *ngIf="(magnitud).nombre!='Nuevo'" id="Salvar" (click)="salvarMagnitud()" >Salvar</button>
        <button *ngIf="(magnitud).nombre!='Nuevo'" id="Borrar" (click)="borrarMagnitud()" >Borrar</button>
    </form>
    <form [formGroup]="calendarioForm">
        <a>Calendario </a>
        <select (change)="seleccionCalendario($event)">
            <option *ngFor="let calendario of calendarios" selected>
                {{calendario.nombre}}
            </option>
            <option>Nuevo</option>
        </select>
        <input *ngIf="(calendario.nombre)=='Nuevo'"  type="text" formControlName="calendario" required class="inForm">
        <button *ngIf="(calendario.nombre)=='Nuevo'" type="submit" [disabled]="!calendarioForm.valid"(click)="nuevoCalendario()">
                Agregar
        </button>
    </form>

    <form [formGroup]="perfilForm">
        <a>Perfil </a>
        <select name="seleccion" id="seleccion" (change)="seleccionPerfil($event)">
            <option *ngFor="let perfil of perfiles" selected>
                {{perfil.nombre}}
            </option>
        </select>
        <input *ngIf="(perfil.nombre)=='Nuevo'"  type="text" formControlName="perfil" required class="inForm">
        <button *ngIf="(perfil.nombre)=='Nuevo'" type="submit" [disabled]="!perfilForm.valid"(click)="agregarPerfil()">
            Agregar
        </button>
    </form>
</div>
<!--
<div name="Botones_magnitudes" ALIGN="LEFT">
        <a><button *ngFor="let magnitud of perfil.magnitudes" (click)="desasociarMagnitud(magnitud)"> {{magnitud.nombre}} X</button></a>
</div>
-->
