<div class="sample-wrapper">
  <div class="sample-content">
      <!-- Range selection mode -->
      <article class="sample-column calendar-wrapper">
          <igx-calendar #calendar
              selection="range"
              (onSelection)="verifyRange($event)">
          </igx-calendar>
          <igx-dialog #alert title="Notification" message="Please select a range of max to 5 days!" leftButtonLabel="OK" (onLeftButtonSelect)="alert.close()">
          </igx-dialog>
      </article>
  </div>
</div>